HTTP_PORT=8080
HTTP_SHUTDOWN_TIMEOUT=10s

DATABASE_URL=''
DATABASE_DIRECT_URL=''
DATABASE_CONNECT_TIMEOUT=5s

REDIS_ADDR='127.0.0.1:6379'
REDIS_USERNAME=''
REDIS_PASSWORD=''
REDIS_DB=0
REDIS_CONNECT_TIMEOUT=3s

RATE_LIMIT_KEY_SECRET=''
RATE_LIMIT_OPERATION_TIMEOUT=500ms

SIGNUP_RATE_LIMIT_IP_REQUESTS=5
SIGNUP_RATE_LIMIT_IP_WINDOW=15m
SIGNUP_RATE_LIMIT_EMAIL_REQUESTS=3
SIGNUP_RATE_LIMIT_EMAIL_WINDOW=1h

LOGIN_RATE_LIMIT_IP_REQUESTS=20
LOGIN_RATE_LIMIT_IP_WINDOW=15m
LOGIN_RATE_LIMIT_EMAIL_REQUESTS=5
LOGIN_RATE_LIMIT_EMAIL_WINDOW=15m

RESEND_VERIFICATION_RATE_LIMIT_IP_REQUESTS=5
RESEND_VERIFICATION_RATE_LIMIT_IP_WINDOW=15m
RESEND_VERIFICATION_RATE_LIMIT_EMAIL_REQUESTS=3
RESEND_VERIFICATION_RATE_LIMIT_EMAIL_WINDOW=1h

FORGOT_PASSWORD_RATE_LIMIT_IP_REQUESTS=5
FORGOT_PASSWORD_RATE_LIMIT_IP_WINDOW=15m
FORGOT_PASSWORD_RATE_LIMIT_EMAIL_REQUESTS=3
FORGOT_PASSWORD_RATE_LIMIT_EMAIL_WINDOW=1h

JWT_HS256_SECRET=''
REFRESH_TOKEN_SECRET=''
SESSION_OPERATION_TIMEOUT=500ms

SMTP_HOST='smtp.gmail.com'
SMTP_PORT=587
SMTP_USERNAME=''
SMTP_APP_PASSWORD=''
SMTP_FROM_NAME='Beexter'
SMTP_FROM_ADDRESS=''
SMTP_TIMEOUT=10s

EMAIL_VERIFICATION_URL='http://localhost:3000/verify-email'
PASSWORD_RESET_URL='http://localhost:3000/reset-password'

OUTBOX_POLL_INTERVAL=2s
OUTBOX_BATCH_SIZE=10
OUTBOX_LOCK_TIMEOUT=5m
OUTBOX_DATABASE_TIMEOUT=3s
OUTBOX_DELIVERY_TIMEOUT=15s
OUTBOX_RETRY_BASE=5s
OUTBOX_RETRY_MAX=1h

RESET_PASSWORD_RATE_LIMIT_IP_REQUESTS=5
RESET_PASSWORD_RATE_LIMIT_IP_WINDOW=15m

CHANGE_PASSWORD_RATE_LIMIT_IP_REQUESTS=5
CHANGE_PASSWORD_RATE_LIMIT_IP_WINDOW=15m
CHANGE_PASSWORD_RATE_LIMIT_IDENTITY_REQUESTS=5
CHANGE_PASSWORD_RATE_LIMIT_IDENTITY_WINDOW=1h

DELETE_ACCOUNT_RATE_LIMIT_IP_REQUESTS=3
DELETE_ACCOUNT_RATE_LIMIT_IP_WINDOW=1h
DELETE_ACCOUNT_RATE_LIMIT_IDENTITY_REQUESTS=3
DELETE_ACCOUNT_RATE_LIMIT_IDENTITY_WINDOW=1h

REACTIVATION_RATE_LIMIT_IP_REQUESTS=5
REACTIVATION_RATE_LIMIT_IP_WINDOW=15m
REACTIVATION_RATE_LIMIT_EMAIL_REQUESTS=3
REACTIVATION_RATE_LIMIT_EMAIL_WINDOW=1h

CLEANUP_INTERVAL=1h
CLEANUP_DATABASE_TIMEOUT=10s
CLEANUP_BATCH_SIZE=1000
CLEANUP_TOKEN_RETENTION=24h
CLEANUP_OUTBOX_RETENTION=168h
