HTTP_PORT=8080
HTTP_SHUTDOWN_TIMEOUT=10s


DATABASE_URL=''
DATABASE_DIRECT_URL=''
DATABASE_CONNECT_TIMEOUT=5s


REDIS_ADDR='127.0.0.1:6379'
REDIS_USERNAME=''
REDIS_PASSWORD=''
REDIS_DB=0
REDIS_CONNECT_TIMEOUT=3s